body {
    max-width: 85%;
    margin: auto;
}

form {
    width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    background-color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
}


button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}