* {
    margin: 0px;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #000;
    /* background-image: url(); */
    background-size: cover;
    /* background-position: center; */
}

.logo {
    margin-left: 0;
}

.logo img {
    margin: 0%;
    align-self: flex-start;
    width: 120px;
}

a {
    font-size: 1rem;
    position: relative;
}

a:hover {
    color: orange;
}

/* a:hover:after {
    right: 0;
} */

/* a:active {
    text-decoration: underline;
    color: orange;
} */

header {
    position: relative;
    padding: 25px 2rem;
}

.navbar {
    /* width: 80%; */
    height: 60px;
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.3rem;
}

.navbar .links {
    display: flex;
    float: right;
    gap: 2rem;
}

/* .navbar .links ul li a {
    position: relative;
} */

.navbar .links li a::after,
.navbar .links li a::before {
    opacity: 0;
    content: "";
    border-bottom: 2px solid red;
    position: absolute;
    transition: 0.2s;
}

.navbar .links li a::after {
    width: 30%;
    bottom: -10px;
    left: 0;
}

.navbar .links li a:before {
    width: 30%;
    bottom: -5px;
    right: 0;
}

.navbar .links li a.active::after,
.navbar .links li a:hover::after {
    opacity: 1;
    width: 80%;
}

.navbar .links li a.active::before,
.navbar .links li a:hover::before {
    opacity: 1;
    width: 80%;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    display: none;
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    text-align: center;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 65px;
    height: 0px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 200px;

}

.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 60%;
    display: flex;
    justify-content: center;
}

section#nosotros, #servicios {
    /* height: calc(100vh - 170px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#nosotros h1, p, #servicios h1, p, footer p {
    text-align: center;
}

#nosotros h1, #servicios h1 {
    width: 80%;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

#nosotros p, #servicios p {
    padding: 10px 20% 0% 20%;
}

footer {
    width: 80%;
    /* max-width: 1200px; */
    margin: 2rem auto;
    background-color: rgb(182, 171, 171);
    border-radius: 5px;
}

.buttons {
    min-width: 200px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    margin: 10px 20px 20px 10px;
  }
  
  .buttons a:hover {
    transform: scale(1.5);
  }

  /* whatsapp button */
  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .whatsapp-wrapper a:hover {
    transform: scale(1.3);
  }


/* RESPONSIVE DESIGN */
@media (max-width: 850px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    #welcome h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    #welcome p {
        padding: 0 20% 0% 20%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .logo img {
        width: 5rem;
    }
}