:root {
    --primary-color: #25d366;
    --secondary-color: #314652;
    --text-color: #fff;
    --bg-color: #000;
    --highlight-color: orange;
    --hover-scale: 1.1;
    --transition-speed: 0.3s;
    --focus-color: #1e90ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    background-size: cover;
    overflow-x: hidden;
    padding: 0 80px;
}

/* Header */
header {
    position: relative;
    padding: 25px 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo img {
    width: 120px;
    transition: transform var(--transition-speed);
}

.logo img:hover {
    transform: scale(var(--hover-scale));
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    font-size: 1rem;
    position: relative;
    transition: color var(--transition-speed);
}

.navbar .links a:hover {
    color: var(--highlight-color);
}

.navbar .toggle_btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Action Button */
.action_btn {
    display: none;
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform var(--transition-speed);
}

.action_btn:hover {
    transform: scale(var(--hover-scale));
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 65px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
    transition: height var(--transition-speed) ease;
}

.dropdown_menu.open {
    display: block;
    height: auto;
    padding: 1rem;
}

.dropdown_menu li {
    padding: 0.5rem;
    text-align: center;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
    padding: 2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

section.buttons {
    padding: 1rem;
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section p {
    line-height: 1.8em;
    font-size: 1.2em;
    padding: 0 15%;
}

#servicios {
    h2 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 3rem 0 1rem 0;
    }
}

/* Footer */
footer {
    background-color: rgb(73, 71, 71);
    border-radius: 5px;
    padding: 25px 2rem 0.3rem 2rem;
    text-align: center;
}

.buttons a {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--secondary-color);
    color: var(--text-color);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: 10px;
    transition: transform var(--transition-speed);
}

.buttons a:hover {
    transform: scale(var(--hover-scale));
}

/* WhatsApp Button */
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: transform var(--transition-speed);
}

.whatsapp:hover {
    transform: scale(var(--hover-scale));
}

a.whatsapp {
    /* usar flex para centrar el contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Forms */
form {
    width: 30rem;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

form input,
form textarea {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 1rem;
    transition: border-color var(--transition-speed), background-color var(--transition-speed);
}

form input:focus,
form textarea:focus {
    border-color: var(--focus-color);
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--focus-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

form button:hover {
    background-color: #007acc;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    section h1 {
        font-size: 2rem;
    }

    section p {
        padding: 0 10%;
    }

    form {
        width: 70%;
    }
}

@media (max-width: 600px) {

    .logo img {
        width: 80px;
    }

    .whatsapp {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    body {
        height: 100vh;
        background-color: var(--bg-color);
        background-size: cover;
        overflow-x: hidden;
        padding: 0;
    }

    section h1 {
        font-size: 1.8rem;
    }

    form {
        width: 80%;
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px;
    }

    section p {
        font-size: 1em;
    }
    footer {
        margin: 0 2rem;
    }
}